@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,900,200,500,300,600,700,800);

* {
  font-family: 'Raleway';
  font-size: 16px;
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 *  Table Styles
 **/
.agenda {
  position: relative;
  border: 1px solid #e3e3e3;
  margin-bottom: 20px;
  width: 100%;
  height: 850px;
  overflow: auto;
}

.agenda__table {
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

/**
 *  Header Styles
 **/
.agenda__cell.\--head {
  border-right: none;
  border-left: none;
  border-top: 1px solid rgb(218,218,218);
}

.agenda__header .agenda__cell {
  height: 69px;
  padding: 0;
}

/**
 *  Time Cell Styles
 **/
.agenda__cell.\--time {
  vertical-align: top;
  text-align: center;
  height: 60px;
  border: none !important;
  background: #FFF;
}

/**
 *  Controls Cells Styles
 **/
.agenda__cell.\--controls {
  width: 100px;
  border-left: none;
  border-right: none;
  border-top: 1px solid rgb(218,218,218);
}

.agenda__cell.\--controls .agenda__prev span {
  display: none;
}

.agenda__cell.\--controls .agenda__next span {
  display: none;
}

.agenda__cell.\--controls .agenda__prev:before {
  font-family: FontAwesome;
  content: "\f0d9";
}

.agenda__cell.\--controls .agenda__next:before {
  font-family: FontAwesome;
  content: "\f0da";
}

.agenda__cell.\--controls .agenda__prev,
.agenda__cell.\--controls .agenda__next {
  float: left;
  width: 50px;
  line-height: 69px;
  padding: 0;
  margin-left: 0;
  cursor: pointer;
}

/**
 * Minute Cell Styles
 **/
.agenda__cell {
  border-left: 2px solid rgb(218,218,218);
  border-bottom: 1px solid rgb(218,218,218);
  height: 15px;
  background: rgb(240,240,240);
}

.agenda__row.\--hour-start > .agenda__cell {
  border-top: 1px solid rgb(218,218,218);
}

.agenda__cell.\--hovered {
  background: #81B000 !important;
  border: none !important;
}

.agenda__cell.\--hovered-first {
  border-top: 8px solid green !important;
}

.agenda__cell.\--hovered-last {
  border-bottom: 8px solid green !important;
}

/**
 * Item Styles
 **/
.agenda__cell.snorlax {
  background: #005B67;
}

.agenda__cell.jigglypuff {
  background: #FA8CC8;
}

.agenda__cell.pikachu {
  background: #FFDA00;
}

.agenda__cell.charizard {
  background: #FE9247;
}

.agenda__cell.outline {
  border-left: 3px solid #666;
  border-right: 3px solid #666;
}

.agenda__cell.outline.red {
  border-left: 3px solid #F00;
  border-right: 3px solid #F00;
}
